<div class="group">
  <%= icon group, :medium -%>
  <div class="group-info">
    <%= link_to(group.name, group_path(group)) %> <%= translate('muck.groups.private_link') if group.visibility == Group::PRIVATE %><%= translate('muck.groups.invisible_link') if group.visibility == Group::INVISIBLE %>
    <div class="group-description"><%= summarize(strip_tags(group.description), 40) %></div>
    <% if false #!@my_groups.include?(group) %>
      <span class="link-button" id="join_group_link_<%= group.id %>">
        <%= inline_tb_link translate('muck.groups.join'), "join_group", 
                            {:title => translate('muck.groups.join') }, 
                            {:height => 200, :width => 300} -%>
      </span>
    <% end %>
  </div>
</div>
